{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html>
<head>
	{% render_bundle "app" "css" %}
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<header class="main-header">
            <a href="/" class="logo">
    			<span class="logo-mini"><b>Sample Project</b></span>
    			<span class="logo-lg"><b>Sample Project</b></span>
			</a>
			<nav class="navbar navbar-static-top">
    			<div class="navbar-custom-menu">
        			<ul class="nav navbar-nav"></ul>
    			</div>
			</nav>
        </header>
	    <aside class="main-sidebar">
	        <section class="sidebar">
	        </section>
	    </aside>

	    <div class="content-wrapper">
	    	<section class="content">
	    		Django webpack sample app.
	    	</section>
	    </div>
	</div>
	{% render_bundle "app" "js" %}
</body>